################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/EventDriven.Project.Enrollment/bin/Debug
/EventDriven.Project.Enrollment/obj
/EventDriven.Project.Enrollment.Model/obj
